// colors
$primary-base: #f8a3a3;
$theme-colors: (
  'primary': #f8a3a3,
  'secondary': #96a3a3,
  'success': #219653,
  'info': #56ccf2,
  'warning': #f2c94c,
  'danger': #eb5757,
  'light': #fbbaba,
  'dark': #ff9090,
  // ----------------
  'gray': #4f4f4f,
  'gray1': #2b2b2b,
  'gray2': #e0e0e0,
  'black': #000000,
  'yellow': #fee390,
  'orange': #f2994a,
  'blue': #56ccf2,
  'green': #6fcf97,
);

// input-variabel
$input-line-height: 2.5;
$input-padding-y: 0.25rem;
$input-padding-x: 1.5rem;
$input-border-color: #c4c4c4;
$input-border-radius: 0.75rem;

// dropdown-variabel
$dropdown-link-color: #4f4f4f;
$dropdown-link-hover-color: white;
$dropdown-link-hover-bg: #f8a3a3;

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@import './scss/coreui.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  background: #f6f6f6;
  color: #000;

  a {
    text-decoration: none;
  }
}

// nav items
.nav-item {
  .nav-link {
    color: #a6a3a3;
    cursor: pointer;

    &:hover,
    &.active {
      color: #f8a3a3;
    }

    &.active {
      font-weight: 700;
    }
  }
}

// react-select
.top {
  color: #4f4f4f !important;

  .inner {
    &__control {
      border-radius: 12px !important;

      &--is-focused {
        box-shadow: 0 0 0 1px #f8a3a3 !important;
        border-color: #f8a3a3 !important;
      }
    }

    &__menu {
      text-align: center !important;
      border-radius: 24px;
      &-list {
        border-radius: inherit;
      }
    }

    &__option {
      &--is-focused {
        background: none;
      }
      &--is-selected {
        background: none;
        color: #4f4f4f;
        font-weight: 700;
      }
    }
  }
}

// product pic
.product-img {
  border-radius: 20px 20px 0 0;

  &__sm {
    border-radius: 12px;
  }
}

//  modal
.modal-content {
  padding: 3rem 2rem;
  border-radius: 20px;
}

td {
  padding: 24px 16px !important;
}
